{% extends "personas/base.html" %}

{% block title %} CRUD Alumno  {% endblock %}

{% block content%}


        <br><br>
    <form action="agregar_alumno" method="POST"  enctype="multipart/form-data">

        {% csrf_token %}
        <label>Rut      :</label><input type="text" name="rut"><br>
        <label>Nombre   :</label><input type="text" name="nombre"><br>
        <label>A.Paterno:</label><input type="text" name="aPaterno"><br>
        <label>A.Materno:</label><input type="text" name="aMaterno"><br>
        <label>Fecha Nac:</label><input type="date" name="fechaNac"><br>
        <label>Género   :</label>
         <select name="genero">
             <option value="Seleccionar" disabled>Seleccionar</option>
             <option value="masculino">Masculino</option>
             <option value="femenino">Femenino</option>
         </select>
         <br>
         <label>Foto     :</label><input type="file" name="foto">

        <br><br>

        <input type="submit" name="opcion" value="Grabar">
        <input type="submit" name="opcion" value="Editar">
    </form>

</tr>

{% endblock %}